{% extends 'base.html'%}
{% load static %}

{% block contents%}
{% csrf_token %}
<div style="text-wrap: wrap; overflow-x: scroll;">
<table class="table  table-hover">
    <thead class="table-secondary">
        <th style="width:50px">No.</th>
        <th style="width:100px">Kode </th>
        <th style="width:300px">Keterangan</th>
        <th style="width:200px">Updated By</th>
        <th style="width:300px">Updated At</th>
        <th style="width:200px"></th>
    </thead>
    {% for list in lists%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{list.kode_dasar}}</td>
        <td>{{list.keterangan}}</td>
        <td>{{list.updatedBy}}</td>
        <td>{{list.updatedAt}}</td>
        <td>
            <a class="btn"><i class="fa fa-user-edit" id="edit{{list.kode_dasar}}" data-bs-keterangan="{{list.keterangan}}" onclick="editDasarST('{{list.kode_dasar}}')"></i></a>
            <a class="btn"><i class="fa fa-trash" id="del{{list.kode_dasar}}" data-bs-keterangan="{{list.keterangan}}" onclick="deleteDasarST('{{list.kode_dasar}}')"></i></a>
        </td>
    </tr>
    {% endfor%}
</table>
</div>
<div>
    halaman: 
    {% for hal in paginator.page_range%}
        <a class="button" href="{% url 'displayGolongan'%}?page={{hal}}">{{hal}}</a> 
    {% endfor %}
</div>

<!-- Edit Modal-->
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
    class="modal fade"
    id="editModal"
    tabindex="-2"
    
    role="dialog"
    aria-labelledby="Update Master Dasar Surat Tugas"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h3" id="modalTitleId">
                    Melakukan Edit Master Dasar Surat Tugas
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <table style="width: 100%;">
                    <thead>
                        <th>Kode Master Surat Tugas:</th>
                        <th><span id="kodeEditDasarST"></span></th>
                    </thead>
                    <tr>
                        <th>Keterangan Dasar Surat Tugas Lama:</th>
                        <td><span id="keteranganEditDasarST"></span></td>
                    </tr>
                    <tr>
                        <th>Keterangan Dasar Surat Tugas Baru:</th>
                        <td><input type="text" id="keteranganEditBaru" class="form-control" required/></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-success" onclick="updateNow()">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal-->
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
    class="modal fade"
    id="deleteModal"
    tabindex="-2"
    
    role="dialog"
    aria-labelledby="Delete Master Dasar Surat Tugas"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h3" id="modalTitleId">
                    Melakukan Delete Master Dasar Surat Tugas
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>Apakah yakin akan melakukan delete data:</p>
                <table style="width: 100%;">
                    <thead>
                        <th>Kode Master Dasar Surat Tugas:</th>
                        <th><span id="kodeDeleteDasarST"></span></th>
                    </thead>
                    <tr>
                        <th>Keterangan Dasar Surat Tugas:</th>
                        <td><span id="keteranganDeleteDasarST"></span></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-danger" onclick="deleteNow()">Delete/ Hapus</button>
            </div>
        </div>
    </div>
</div>

<script>
    let kodenya=null;
    let keterangan=null;
    let data={};
    
    // function delJabID() {
    //     document.location.href="/master/jab/del/" +kodenya +"/";
    // }

    // function deleteJabatan(kode,nama) {
    //     document.getElementById('del_kjab').innerText=kode;
    //     document.getElementById('del_njab').innerText=nama;
    //     kodenya=kode;
    //     $("#deleteModal").modal('show');
    // }
    
    function editDasarST(kode) {
        console.log(kode);
        $("#kodeEditDasarST").text(kode);
        keterangan = $("#edit" + kode).attr('data-bs-keterangan');
        kodenya=kode;
        $("#keteranganEditDasarST").text(keterangan);
        $("#editModal").modal('show');
    }

    function deleteDasarST(kode) {
        $("#kodeDeleteDasarST").text(kode);
        keterangan = $("#del" + kode).attr('data-bs-keterangan');
        kodenya=kode;
        $("#keteranganDeleteDasarST").text(keterangan);
        $("#deleteModal").modal('show');
    }

    function deleteNow() {
        csrf_token = $("input[name=csrfmiddlewaretoken]").val()
        data={
            kodeDasarST:kodenya,
            method:'delete',
            csrfmiddlewaretoken:csrf_token
        };
        $.ajax({
            type:'POST',
            url:'/master/sur/upd/',
            data:data,
            success: ()=> {
                window.location.href='/master/sur/dis/'
            }
        });
    }
    function updateNow() {
        csrf_token = $("input[name=csrfmiddlewaretoken]").val();
        keterangan = $("#keteranganEditBaru").val();
        console.log(keterangan);
        data={
            kodeDasarST:kodenya,
            keteranganDasarST:keterangan,
            method:'update',
            csrfmiddlewaretoken:csrf_token
        };
        $.ajax({
            type:'POST',
            url:'/master/sur/upd/',
            data:data,
            success: ()=> {
                window.location.href='/master/sur/dis/'
            }
        });
    }
</script>

{% endblock%}