{% extends 'base.html'%}
{% load static %}

{% block contents%}
<div style="text-wrap: wrap; overflow-x: scroll;">
<table class="table  table-hover">
    <thead class="table-secondary">
        <th style="min-width:50px">No.</th>
        <th style="min-width:250px">No.Surat</th>
        <th style="min-width:100px">Lokasi Dibuat</th>
        <th style="min-width:250px">Tujuan Tugas</th>
        <th style="min-width:100px">Lokasi Tugas</th>
        <th style="min-width:150px">Tgl Awal Tugas</th>
        <th style="min-width:150px">Tgl Akhir Tugas</th>
        <th style="min-width:250px">Nama Kepala</th>
        <th  style="min-width:250px">N.I.P</th>
        <th  style="min-width:250px">Jabatan</th>
        <th  style="min-width:100px">Updated By</th>
        <th  style="min-width:150px">Updated At</th>
        <th  style="min-width:50px">Status</th>
        <th  style="min-width:200px"></th>
    </thead>
    {% for list in lists%}
    <tr class="">
        <td>{{forloop.counter}}</td>
        <td>{{list.nomor_surat}}</td>
        <td>{{list.lokasi_surat}}</td>
        <td>{{list.tujuan}}</td>
        <td>{{list.lokasi}}</td>
        <td>{{list.tgl_awal_tugas}}</td>
        <td>{{list.tgl_akhir_tugas}}</td>
        <td>{{list.kepala_nama}}</td>
        <td>{{list.kepala_nik}}</td>
        <td>{{list.kepala_jabatan}}</td>
        <td>{{list.updatedBy}}</td>
        <td>{{list.updatedAt}}</td>
        <td>{% if list.submit is False %}<p class="fw-bold btn btn-danger disabled">PENDING</p>{%else%}<p class="disabled btn btn-success fw-bold">TERKIRIM</p>{%endif%}</td>
        <td>
            <button  class="btn btn-primary" onclick="window.location.href='/surat/add/{{list.id_surat}}'"><i class="fa fa-user-edit"></i></button>
            <button class="btn btn-danger" onclick="window.location.href='/surat/del/{{list.id_surat}}/'"><i class="fa fa-trash"></i></button>
            <button  class="btn btn-info" {% if list.submit%}{%else%}disabled{%endif%} onclick="window.location.href='/surat/export/{{list.id_surat}}'"><i class="fa fa-download"></i></button>
        </td>
    </tr>
    {% endfor%}
</table>
</div>
<div>
    halaman: 
    {% for hal in paginator.page_range%}
        <a class="button" href="{% url 'displayGolongan'%}?page={{hal}}">{{hal}}</a> 
    {% endfor %}
</div>

<!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Master Golongan</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Detail Master Golongan</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>

<!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Master Golongan</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah benar akan menghapus Data Master ini?</p>
                    <p>Kode Golongan: <span id="del_kgol"></span></p>
                    <p>Nama Golongan: <span id="del_ngol"></span></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal"  onclick="delGolID()">Hapus</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>

<script>
    let kodenya=null;
    function deleteGolongan(kode,nama) {
        document.getElementById('del_kgol').innerText=kode;
        document.getElementById('del_ngol').innerText=nama;
        kodenya=kode;
        $("#deleteModal").modal('show');
    }

    function delGolID() {
        document.location.href="/master/gol/del/" +kodenya +"/";
    }
</script>

{% endblock%}