{% extends 'base.html'%}
{% load static %}

{% block contents%}
<table class="table">
    <thead>
        <th style="width:50px">No.</th>
        <th style="width:100px">N.I.P</th>
        <th style="width:300px">Nama</th>
        <th style="width:300px">Jabatan</th>
        <th style="width:100px">Golongan</th>
        <th style="width:150px">Updated By</th>
        <th style="width:150px">Updated At</th>
        <th style="width:200px"</th>
    </thead>
    {% for list in lists%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{list.nik}}</td>
        <td>{{list.nama}}</td>
        <td>{{list.kode_jabatan.keterangan}}</td>
        <td>{{list.kode_golongan.keterangan}}</td>
        <td>{{list.updatedBy}}</td>
        <td>{{list.updatedAt}}</td>
        <td>
            <a class="btn" data-toggle="modal" data-target="#editModal"><i class="fa fa-user-edit"></i></a>
            <a class="btn" data-toggle="modal"  onclick="deletePegawai('{{list.nik}}','{{list.nama}}')"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
    {% endfor%}
</table>
<div>
    halaman: 
    {% for hal in paginator.page_range%}
        <a class="button" href="{% url 'displayPegawai'%}?page={{hal}}">{{hal}}</a> 
    {% endfor %}
</div>

<!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Master Golongan</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Detail Master Golongan</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>

<!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Master Golongan</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah benar akan menghapus Data Master ini?</p>
                    <p>Kode Golongan: <span id="del_kpeg"></span></p>
                    <p>Nama Golongan: <span id="del_npeg"></span></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal"  onclick="delPegID()">Hapus</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>

<script>
    let kodenya=null;
    function deletePegawai(kode,nama) {
        document.getElementById('del_kpeg').innerText=kode;
        document.getElementById('del_npeg').innerText=nama;
        kodenya=kode;
        $("#deleteModal").modal('show');
    }

    function delPegID() {
        document.location.href="/master/peg/del/" +kodenya +"/";
    }
</script>

{% endblock%}