{% extends 'base.html'%}
{% load static %}

{% block contents%}
<div style="text-wrap: wrap; overflow-x: scroll;">
<table class="table  table-hover">
    <thead class="table-secondary">
        <th style="width:50px">No.</th>
        <th style="width:100px">N.I.P</th>
        <th style="width:300px">Nama</th>
        <th style="width:300px">Jabatan</th>
        <th style="width:100px">Golongan</th>
        <th style="width:150px">Updated By</th>
        <th style="width:150px">Updated At</th>
        <th style="width:200px"></th>
    </thead>
    {% for list in lists%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{list.nik}}</td>
        <td>{{list.nama}}</td>
        <td>{{list.kode_jabatan.keterangan}}</td>
        <td>{{list.kode_golongan.keterangan}}</td>
        <td>{{list.updatedBy}}</td>
        <td>{{list.updatedAt}}</td>
        <td>
            <a class="btn"><i class="fa fa-user-edit" id="edit{{list.nik}}" data-bs-golongan="{{list.kode_golongan.keterangan}}" data-bs-jabatan="{{list.kode_jabatan.keterangan}}" data-bs-nama="{{list.nama}}" onclick="editPegawai('{{list.nik}}')"></i></a>
            <a class="btn"><i class="fa fa-trash" id="del{{list.nik}}" data-bs-golongan="{{list.kode_golongan.keterangan}}" data-bs-jabatan="{{list.kode_jabatan.keterangan}}" data-bs-nama="{{list.nama}}" onclick="deletePegawai('{{list.nik}}')"></i></a>
        </td>
    </tr>
    {% endfor%}
</table>
</div>
<div>
    halaman: 
    {% for hal in paginator.page_range%}
        <a class="button" href="{% url 'displayPegawai'%}?page={{hal}}">{{hal}}</a> 
    {% endfor %}
</div>

{% csrf_token %}
<!-- Edit Modal-->
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
    class="modal fade"
    id="editModal"
    tabindex="-2"
    
    role="dialog"
    aria-labelledby="Update Master Pegawai"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h3" id="modalTitleId">
                    Melakukan Edit Master Pegawai
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <table style="width: 100%;">
                    <thead>
                        <th>Kode Pegawai:</th>
                        <th><span id="kodeEditPegawai"></span></th>
                    </thead>
                    <tr>
                        <th>Nama Pegawai Lama:</th>
                        <td><span id="namaEditPegawai"></span></td>
                    </tr>
                    <tr>
                        <th>Nama Pegawai Baru:</th>
                        <td><input type='text' class='form-control' name='pegawaiBaru' required></td>
                    </tr>
                    <tr>        
                        <th>Jabatan Lama:</th>
                        <td><span id="jabatanEditPegawai"></span></td>
                    </tr>
                    <tr>
                        <th>Jabatan Baru:</th>
                        <td>{{datapegawai.kode_jabatan}}</td>
                    </tr>
                    <tr>        
                        <th>Golongan Lama:</th>
                        <td><span id="golonganEditPegawai"></span></td>
                    </tr>
                    <tr>
                        <th>Golongan Baru:</th>
                        <td>{{datapegawai.kode_golongan}}</td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-success" onclick="updateNow()">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal-->
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
    class="modal fade"
    id="deleteModal"
    tabindex="-2"
    
    role="dialog"
    aria-labelledby="Delete Master Jabatan"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h3" id="modalTitleId">
                    Melakukan Delete Master Jabatan
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>Apakah yakin akan melakukan delete data:</p>
                    <table style="width: 100%;">
                        <thead>
                            <th>Kode Pegawai:</th>
                            <th><span id="kodeDeletePegawai"></span></th>
                        </thead>
                        <tr>
                            <th>Nama Pegawai Lama:</th>
                            <td><span id="namaDeletePegawai"></span></td>
                        </tr>
                        <tr>        
                            <th>Jabatan:</th>
                            <td><span id="jabatanDeletePegawai"></span></td>
                        </tr>
                        <tr>        
                            <th>Golongan:</th>
                            <td><span id="golonganDeletePegawai"></span></td>
                        </tr>
                    </table>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-danger" onclick="deleteNow()">Delete/ Hapus</button>
            </div>
        </div>
    </div>
</div>

<script>
    let kodenya=null;
    let nama=null;
    let golongan=null;
    let jabatan=null
    let data={};
    
    // function delJabID() {
    //     document.location.href="/master/jab/del/" +kodenya +"/";
    // }

    // function deleteJabatan(kode,nama) {
    //     document.getElementById('del_kjab').innerText=kode;
    //     document.getElementById('del_njab').innerText=nama;
    //     kodenya=kode;
    //     $("#deleteModal").modal('show');
    // }
    
    function editPegawai(kode) {
        $("#kodeEditPegawai").text(kode);
        nama = $("#edit" + kode).attr('data-bs-nama');
        golongan = $("#edit" + kode).attr('data-bs-golongan');
        jabatan = $("#edit" + kode).attr('data-bs-jabatan');
        kodenya=kode;
        $("#namaEditPegawai").text(nama);
        $("#golonganEditPegawai").text(golongan);
        $("#jabatanEditPegawai").text(jabatan);
        $("#editModal").modal('show');
    }

    function deletePegawai(kode) {
        $("#kodeDeletePegawai").text(kode);
        nama = $("#del" + kode).attr('data-bs-nama');
        golongan = $("#del" + kode).attr('data-bs-golongan');
        jabatan = $("#del" + kode).attr('data-bs-jabatan');
        kodenya=kode;
        $("#namaDeletePegawai").text(nama);
        $("#golonganDeletePegawai").text(golongan);
        $("#jabatanDeletePegawai").text(jabatan);
        $("#deleteModal").modal('show');
    }

    function deleteNow() {
        csrf_token = $("input[name=csrfmiddlewaretoken]").val()
        data={
            kodePegawai:kodenya,
            method:'delete',
            csrfmiddlewaretoken:csrf_token
        };
        $.ajax({
            type:'POST',
            url:'/master/peg/upd/',
            data:data,
            success: ()=> {
                window.location.href='/master/peg/dis/'
            }
        });
    }
    function updateNow() {
        
        csrf_token = $("input[name=csrfmiddlewaretoken]").val();
        nama = $("input[name='pegawaiBaru']").val();
        jabatan=$("#id_kode_jabatan").val();
        golongan=$("#id_kode_golongan").val();
        data={
            kodePegawai:kodenya,
            nama:nama,
            jabatan:jabatan,
            golongan:golongan,
            method:'update',
            csrfmiddlewaretoken:csrf_token
        };
        $.ajax({
            type:'POST',
            url:'/master/peg/upd/',
            data:data,
            success: ()=> {
                window.location.href='/master/peg/dis/'
            }
        });
    }
</script>

{% endblock%}