{% extends 'base.html'%}
{% load static %}

{% block contents%}

{% csrf_token%}
<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );
</script>

<div style="text-wrap: wrap; overflow-x: scroll;">
<table class="table  table-hover">
    <thead class="table-secondary">
        <th style="width:50px">No.</th>
        <th style="width:100px">Kode</th>
        <th style="width:300px">Keterangan</th>
        <th style="width:200px">Updated By</th>
        <th style="width:300px">Updated At</th>
        <th style="width:200px"></th>
    </thead>
    {% for list in lists%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{list.kode_golongan}}</td>
        <td>{{list.keterangan}}</td>
        <td>{{list.updatedBy}}</td>
        <td>{{list.updatedAt}}</td>
        <td>
            <a class="btn" data-toggle="modal" id="edit{{list.kode_golongan}}" data-bs-keterangan="{{list.keterangan}}" onclick="editGolongan('{{list.kode_golongan}}')"><i class="fa fa-user-edit"></i></a>
            <a class="btn" data-toggle="modal" id="del{{list.kode_golongan}}" data-bs-keterangan="{{list.keterangan}}" onclick="deleteGolongan('{{list.kode_golongan}}')"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
    {% endfor%}
</table>
</div>
<div>
    halaman: 
    {% for hal in paginator.page_range%}
        <a class="button" href="{% url 'displayGolongan'%}?page={{hal}}">{{hal}}</a> 
    {% endfor %}
</div>

<!-- Edit Modal-->
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
    class="modal fade"
    id="editModal"
    tabindex="-2"
    
    role="dialog"
    aria-labelledby="Update Master Golongan"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h3" id="modalTitleId">
                    Melakukan Edit Master Golongan
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <table style="width: 100%;">
                    <thead>
                        <th>Kode Master Golongan:</th>
                        <th><span id="kodeEditGolongan"></span></th>
                    </thead>
                    <tr>
                        <th>Keterangan Master Golongan Awal:</th>
                        <td><span id="keteranganEditGolongan"></span></td>
                    </tr>
                    <tr>
                        <th>Keterangan Baru:</th>
                        <td><input type="text" name="keteranganEdit" class="form-control" maxlength="50" required></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-success" onclick="updateNow()">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal-->
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div
    class="modal fade"
    id="deleteModal"
    tabindex="-2"
    
    role="dialog"
    aria-labelledby="Delete Master Golongan"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h3" id="modalTitleId">
                    Melakukan Delete Master Golongan
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>Apakah yakin akan melakukan delete data:</p>
                <table style="width: 100%;">
                    <thead>
                        <th>Kode Master Golongan:</th>
                        <th><span id="kodeDeleteGolongan"></span></th>
                    </thead>
                    <tr>
                        <th>Keterangan Master Golongan:</th>
                        <td><span id="keteranganDeleteGolongan"></span></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-danger" onclick="deleteNow()">Delete/ Hapus</button>
            </div>
        </div>
    </div>
</div>



<script>
    let kodenya=null;
    let keterangan=null;
    let data={};
    function editGolongan(kode) {
        $("#kodeEditGolongan").text(kode);
        keterangan = $("#edit" + kode).attr('data-bs-keterangan');
        kodenya=kode;
        $("#keteranganEditGolongan").text(keterangan);
        $("#editModal").modal('show');
    }

    function deleteGolongan(kode) {
        $("#kodeDeleteGolongan").text(kode);
        keterangan = $("#del" + kode).attr('data-bs-keterangan');
        kodenya=kode;
        $("#keteranganDeleteGolongan").text(keterangan);
        $("#deleteModal").modal('show');
    }

    function deleteNow() {
        csrf_token = $("input[name=csrfmiddlewaretoken]").val()
        data={
            kodeGolongan:kodenya,
            method:'delete',
            csrfmiddlewaretoken:csrf_token
        };
        $.ajax({
            type:'POST',
            url:'/master/gol/upd/',
            data:data,
            success: ()=> {
                window.location.href='/master/gol/dis/'
            }
        });
    }
    function updateNow() {
        csrf_token = $("input[name=csrfmiddlewaretoken]").val();
        keterangan = $("input[name='keteranganEdit']").val();
        data={
            kodeGolongan:kodenya,
            keteranganGolongan:keterangan,
            method:'update',
            csrfmiddlewaretoken:csrf_token
        };
        $.ajax({
            type:'POST',
            url:'/master/gol/upd/',
            data:data,
            success: ()=> {
                window.location.href='/master/gol/dis/'
            }
        });
    }
</script>

{% endblock%}