{% extends 'base.html'%}

{% load static %}

{% block contents%}
<h4>Nomor Laporan Hasil Evaluasi: <b>{{nomor_lhe}}</b></h4>
<h5>Bab 2: Uraian Hasil Evaluasi dan Pembinaan</h5>
<hr/>
<div class="p-2">
    <p><b>C. Ketatausahaan</b></p>
    <p style="margin-left:20px">
        {% if tu_header is None%}
        <div class="w-100 bg-warning text-center p-2 text-black" style="color:black">
            Silakan Isi Terlebih Dahulu Periode Kepegawaian Untuk Bisa Melanjutkan Pengisian Data Kepegawaian!
        </div>
        {% endif%}
        <b>1. Kepegawaian</b>
    </p>
    <div style="margin-left: 40px;">
        <p>a. Sumber Daya Manusia per {{tu_header.periode}} di UPPD {{lokasi|title}} berdasarkan status kepegawaian:</p>
        
        {% for detail in tu_detail %}
        <p style="margin-left: 50px">{{forloop.counter}}. {{detail.golongan}} = {{detail.jumlah}} orang <a href="#" class="badge badge-danger small">X</a></p>
        {% endfor%}
        <div class="small">
            <table class="table">
                <thead>
                    <th colspan="4" class="py-2 text-center small">
                        <b>Tabel II.1<br/>
                        Data Norminatif Pegawai<br/>
                        Per <span id="tu_periode">{{tu_header.periode}}</span>
                    </b>
                    </th>
                </thead>
                <thead>
                    <th>No.</th>
                    <th>NIP</th>
                    <th>Nama Pegawai</th>
                    <th>Jabatan</th>
                </thead>
                {% for normatif in tu_normatif %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{normatif.nip}}</td>
                    <td>{{normatif.nama|title}}</td>
                    <td>{{normatif.jabatan.keterangan|title}} <a href="#" class="badge badge-danger small">X</a></td>
                </tr>
                {% endfor%}
            </table>
            
        </div>
        <p>b.	Pengelolaan administrasi kepegawaian sudah dilaksanakan dengan <b>baik</b> dan <b>tertib</b></p>
        <hr>
        <div style="margin-top:50px" class="small"><b>Penyesuaian Data:</b></div>
        <p>
            <form method="post" class="my-2  p-2 border border-1 rounded">
                {% csrf_token %}
                <table>
                    <tr>
                        <td colspan="3" class="small"><u>Melakukan Update Periode</u></td>
                    </tr>
                    <tr>
                        <td style="width:200px">Periode Update Menjadi: </td>
                        <td><input class="form-control" type="text" name="periode" required></td>
                        <td><button type="submit" class="btn btn-success">+ Update</button></td>
                    </tr>
                    {% if tu_header is None%}
                    <tr>
                        <td colspan="3">
                            <div clas="w-100  rounded p-2" style="color:black;background-color: orange;padding:5px;border-radius: 5px;">Silakan Diisi Terlebih Dahulu!</div>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </form>
        </p>
        <p>
            <form method="post" class="my-2  p-2 border border-1 rounded">
                {% csrf_token %}
                <table>
                    <tr>
                        <td colspan="3" class="small"><u>Menambah Status Kepegawaian</u></td>
                    </tr>
                    <tr>
                        <td style="width:200px">Status Kepegawaian: </td>
                        <td><input class="form-control" type="text" name="golongan" required></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Jumlah: </td>
                        <td><input class="form-control" type="number" min="1" name="jumlah" required></td>
                        <td><button type="submit" class="btn btn-success">+ Tambahkan</button></td>
                    </tr>
                </table>

            </form>
        </p>
        <p>
            <form method="post" class="my-2 p-2 border border-1 rounded">
                {% csrf_token %}
                <table>
                    <tr>
                        <td colspan="3" class="small"><u>Menambah Data Norminatif</u></td>
                    </tr>
                    <tr>
                        <td style="width:200px">N.I.P Pegawai: </td>
                        <td>{{forms.nip}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nama Pegawai: </td>
                        <td>{{forms.nama}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Jabatan Pegawai: </td>
                        <td>{{forms.jabatan}}</td>
                        <td><button type="submit" class="btn btn-success">+ Tambahkan</button></td>
                    </tr>
                </table>
                
            </form>
        </p>
    <hr/>
        
        
        
        <!-- <p>
            <form method="post" class="my-2">
                <table>
                    <tr>
                        <td>Status Kepegawaian: </td>
                        <input type="text" name="golongan" required>
                    </tr>
                    <tr>
                        <td>Jumlah: </td>
                        <input type="number" min="1" name="jumlah" required>
                    </tr>
                </table>
                <button type="submit" class="btn btn-secondary">+ Tambahkan</button>
            </form>
        </p> -->
    </div>
    <p style="margin-left:20px">
        <b>2. Keuangan</b>
    </p>
    <div style="margin-left: 5px;" class="border border-1 p-2 rounded">
        {% for keuangan in tu_keuangan %}
        <p style="margin-left: 50px">{{forloop.counter}}. {{keuangan.detail}} <a href="#" class="badge badge-danger small">X</a></p>
        {% if forloop.last %}
        <p style="margin-left: 50px">{{forloop.counter|add:1}}. Pengelolaan administrasi keuangan sudah dilaksanakan dengan <b>baik</b> dan <b>tertib</b></p>        
        {% endif %}
        {% endfor%}
        <div class="border border-1 rounded p-2">
            <p  class="small">Menambah Data Keuangan</p>
            <p>
                <form method="post">
                    {% csrf_token%}
                    <textarea class="form-control" required rows="2" name="keuangan"></textarea>
                    <button type="submit" class="btn btn-success small"><i>+ Menambah Data Keuangan</i></button>
                </form>
            </p>
        </div>
    </div>
    <hr/>
    <p style="margin-left:20px;margin-top:20px">
        <b>3. Barang Milik Daerah</b>
    </p>
    <div style="margin-left: 5px;">
        <div>a. Aset tidak Bergerak</div>
        <div style="margin-left: 5px;" class="p-2 rounded border border-1 m-3" >
            1. Rumah
        </div>
        <div>b. Aset Bergerak</div>
        <div style="margin-left: 5px;">
            <div style="margin-left:5px; margin-top: 5px;">1. Kendaraan Roda 4 (empat) milik {{lokasi}} sebanyak 4 (empat) unit yaitu:</div>
            <div class="p-2 rounded border border-1 m-3">1. Inova</div>
            <div style="margin-left:5px; margin-top: 5px;">2. Kendaraan Roda 4 (empat) milik Pemerintah Provinsi Jawa Tengah sebanyak 4 (empat) unit yaitu:</div>
            <div class="p-2 rounded border border-1 m-3">1. Inova</div>
            <div style="margin-left:5px; margin-top: 5px;">3. Kendaraan Roda 2 ( dua ) milik Pemerintah Provinsi Jawa Tengah sebanyak 10 (sepuluh) unit, yaitu:</div>
            <div class="p-2 rounded border border-1 m-3">1. Inova</div>
        </div>
        <div>c.	Pengelolaan administrasi pengelolaan BMD sudah dilaksanakan dengan <b>baik</b> dan <b>tertib</b></div>
    </div>
    <a href="/lhe/add/b2/umum/{{id_lhe}}" class="btn btn-secondary mx-2"><i>&larr; Kembali ke Bab II.B Data Umum</i></a>
    <a class="btn btn-primary my-3" href="#"><i>Lanjutkan Bab II.D Pendapatan Asli Daerah &rarr;</i></a>
</div>

{% endblock%}